html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background: #000;
  margin: 0;
  color: #FFF;
  box-sizing: border-box;
}

.intro {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 6vw;
  padding: 10vh 10vw;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .2s;
}

.intro p {
  margin-top: 0;
  margin-bottom: 6vh;
  opacity: 1;
  position: relative;
  top: 0;
  transition: opacity cubic-bezier(0.55, 0.055, 0.675, 0.19) .5s;
}

.intro p.invisible {
  opacity: 0.05;
}

.intro a {
  color: white;
  position: relative;
}

.intro a:hover {
  animation: dance;
  animation-direction: normal;
  animation-duration: .2s;
  animation-iteration-count: infinite;

}

.intro .contact {
  font-size: 2vw;
}

.intro a.nodance {
  animation: none;
}

@keyframes dance {
  0% { color: #2cfefd; left: 0px; top: -1px }
  16% { color: #fb0e1b; left: -2px; top: 1px}
  32% { color: #0b24fa; left: 1px; top: 2px}
  58% { color: #29f92f; left: 3px; top: -1px}
  60% { color: #fffd38; left: -1px; top: 3px}
  74% { color: #fc28fb; left: -3px; top: 1px}
  80% { color: #fffd38; left: 1px; top: 0px}
  96% { color: #2cfefd; left: 3px; top: -2px}
}

@media(max-width: 375px) {
  .intro {
    padding: 5vh 5vw;
    font-size: 8vw;
  }
  .intro p {
    margin-bottom: 4vh;
  }
  .intro p.invisible {
    opacity: 1;
  }
}

