body {
  background: #000;
  margin: 0;
  color: #FFF;
}

.intro {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 6vw;
  padding: 10vh 10vw;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .2s;
}

.intro p {
  margin-top: 0;
  margin-bottom: 6vh;
  opacity: 1;
  position: relative;
  top: 0;
  transition: opacity cubic-bezier(0.55, 0.055, 0.675, 0.19) .5s;
}

.intro p.invisible {
  opacity: 0.05;
}

@media(max-width: 375px) {
  .intro {
    padding: 5vh 5vw;
    font-size: 8vw;
  }
  .intro p {
    margin-bottom: 4vh;
  }
  .intro p.invisible {
    opacity: 1;
  }
}

