body {
  background: #000;
  margin: 0;
  color: #FFF;
}

.intro {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 6vw;
  padding: 10vh 10vw;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .2s;
}

.intro p {
  margin-top: 0;
  margin-bottom: 6vh;
  opacity: 1;
  transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1) .2s;
}

.intro p.invisible {
  opacity: 0;
}

